[submodule "fastcolorpicker"]
	path = fastcolorpicker
	url = https://github.com/wzdxy/jQuery.fastColorPicker.git
[submodule "alertpopbox"]
	path = alertpopbox
	url = https://github.com/wzdxy/jQuery.AlartPopbox.git
