[submodule "fastcolorpicker"]
	path = fastcolorpicker
	url = https://github.com/wzdxy/jQuery.fastColorPicker.git
[submodule "alertpopbox"]
	path = alertpopbox
	url = https://github.com/wzdxy/jQuery.AlartPopbox.git
[submodule "lednumeric"]
	path = lednumeric
	url = https://github.com/wzdxy/LED-numeric-display.git
	
[submodule "jquery.editableTreegrid"]
	path = jquery.editableTreegrid
	url = https://github.com/wzdxy/jquery.editableTreegrid.git
[submodule "vue-components"]
	path = vue-components
	url = https://github.com/wzdxy/vue-components.git
