*{margin: 0;padding: 0;}
html,body{width: 100%;height: 100%;}
.table{display: table;width: 100%;height: 100%;}
.cell{display: table-cell;vertical-align: middle;}
#wrap{height: 200px;width: 400px;background-color: #4ebaff;margin: 0 auto;}
#wrap .item{height: 70px;width: 70px;background-color: #ffc148;text-align: center;font-size: 60px;color: #4ebaff;margin-top: 65px;margin-left: 20px;float: left;}
#wrap .firstitem{margin-left: 30px;}