$height:50px;
$pdValue:10px;
$bgColor:#eee;
$bdColor:#999;
$bdWidth:1px;

@mixin resetCSS{
	margin: 0;
	padding: 0;
}
@mixin clearFix{
	content:"";
	display: table;
	clear: both;
}

@mixin innerStyle{
	height:$height;
	background-color: $bgColor;
	border:$bdWidth solid $bdColor;
	text-align: center;	
	font-size: 12px;
}

@mixin outerStyle{
	box-sizing:border-box;
	float: left;
	padding:$pdValue;
}

@mixin generateGrid($scr_flag){
	@if $scr_flag{
		@for $i from 1 through 12{
			.col-md-#{$i}{
				width: (100%/12*$i);
			}
		}
	}@else{
		@for $i from 1 through 12{
			.col-sm-#{$i}{
				width: (100%/12*$i);
			}
		}
	}
}

//style part
html,body{
	@include resetCSS;
}
.wrapper{
	box-sizing:border-box;
	width:100%;
	padding: 10px;
}
.wrapper:before,.wrapper:after{
	@include clearFix;
}
.outer{
	@include outerStyle;
}
.inner{
	@include innerStyle;
}
@media(min-width:769px){
	@include generateGrid(true);
}
@media(max-width:768px){
	@include generateGrid(false);
}